<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tourist Guide</title>
    <link th:href= "@{/style.css}" rel="stylesheet">
</head>
<body>

<h1 class="rainbow-text">Welcome</h1>
<p class="rainbow-text">You can use this site for tourist guides :))</p>
<img src="https://t4.ftcdn.net/jpg/00/30/42/27/360_F_30422752_w1SUKUMnnAzhgYSNd01A1oXSYncJizkU.jpg" alt="Tourist Attraction">

<table>
    <tr>
        <th>Attraction</th>
        <th>Description</th>
        <th>City</th>
        <th>Tags</th> <!-- Add a column for tags -->
    </tr>

    <tr th:each="touristAttraction : ${allTouristAttractions}">
        <td th:text="${touristAttraction.getName()}"></td>
        <td th:text="${touristAttraction.getDescription()}"></td>
        <td th:text="${touristAttraction.getCity()}"></td>

        <!-- Display the tags as a comma-separated string -->
        <td th:text="${touristAttraction.getTags()}"></td> <!-- Assuming getTags() returns a comma-separated string -->

        <td>
            <a th:href = "@{/attractions/{name}/tags(name=${touristAttraction.getName()})}">
                <button type="submit">Tags</button>
            </a>

            <form method="get" th:action="@{/attractions/{name}/edit}">
                <button type="submit">Edit</button>
            </form>

            <form th:object="${touristAttraction}" method="post" th:action="@{/attractions/{name}/delete(name=${touristAttraction.getName()})}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>

<form method="get" th:action="@{/attractions/add}">
    <button type="submit">Add Attraction</button>
</form>

<footer>
    <p>Contact: 12345678</p>
</footer>

</body>
</html>
