<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Attractions List</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>
<h1>Attractions List</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>City</th>
        <th>Tags</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="touristAttraction : ${allTouristAttractions}">
        <td th:text="${touristAttraction.getName()}"></td>
        <td th:text="${touristAttraction.getDescription()}"></td>
        <td th:text="${touristAttraction.getCity()}"></td>
        <td th:text="${touristAttraction.getTags()}"></td>

        <td>



            <form method="get" th:action="@{/attractions/{name}/edit(name=${touristAttraction.getName()})}" style="display:inline;">
                <button type="submit">Edit</button>
            </form>


            <form th:object="${touristAttraction}" method="post" th:action="@{/attractions/{name}/delete(name=${touristAttraction.getName()})}" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<form method="get" th:action="@{/attractions/add}">
    <button type="submit">Add Attraction</button>
</form>

<footer>
    <p>Contact: 12345678</p>
</footer>

</body>
</html>
